<div class="card bg-light mb-3" style="max-width: 16rem;">
  <div class="card-header">
    <img src="https://picsum.photos/300/200?grayscale">
  </div>
  <div class="card-body">
    <h5 class="card-title">1 {{currency.base}}: {{ currency$ | async | currency: currency.fiat }}</h5>
    <p class="card-text">yesterday: {{ currencyYesterday$ | async | currency: currency.fiat }}</p>
    <div class="card-footer">
      <small class="text-muted">
        3 mins ago
        <a href="#" class="card-link"> - start tracking</a>
      </small>
    </div>
  </div>
</div>