<p>portfolio works! plenty of inspo on: 
  <ul>
    <li>
      <a href="https://dribbble.com/tags/crypto_dashboard">dribbble</a>
    </li>
    <li>
      <a href="https://demo.web3canvas.com/themeforest/coindash/admin/light/index3.html">Another example</a>
    </li>
    <li>
      note to self: dark theme looks more like stock exchange
    </li>
  </ul>
<img src="../../assets/portfolio-dashboard.png" alt="a dashboard showing portfolio and total assets value">
<img src="../../assets/portfolio-dashboard-2.png" alt="">